:root {
    --mouse: #d6241e;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--mouse);
    color: var(--branco);
  
}

.photo {
    width: 20%;
}


.playfair-display-<uniquifier> {
}
span{color: rgb(5, 5, 143);
}

.contagem-regressiva{
text-align: center;
margin: 30px 0;

}



.objetivos{
 padding: 20px ;

}
.ativo{
    border: 0;
    border-bottom: 3px solid black;